/* Container needed to position the button. Adjust the width as needed */
.hero {
  position: relative;
  width: 100%;
}

/* Make the image responsive */
.hero img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.hero .btn {
  text-align: center;
  width: 20%;
  height: 10%;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #CACB65;
  color: black;
  font-size: 22px;
  padding: 15px 24px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}
.btn {
  text-align: center;}

.hero .btn:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 20%;
  height: 10%;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #CACB65;
  color: black;
  font-size: 22px;
  padding: 15px 24px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}