/* Container needed to position the button. Adjust the width as needed */
.header-nav{
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  padding: 60px;
  text-align: center;
}

button.link {
  background:none;border:none;
}

.my-wines a{
  text-decoration: none;
  color: black;
}

.my-wines:hover a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.hero {
  position: relative;
  width: 100%;
}

/* Make the image responsive */
.hero img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.hero .hero-btn {
  font-family: 'Montserrat', sans-serif;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 45px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #CACB65;
  color: black;
  font-size: 22px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}

.hero .hero-btn:hover {
  font-family: montserrat;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-weight: bold;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 45px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #CACB65;
  color: black;
  font-size: 22px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}

.about-george{
  background-color:#EEEEEE;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 60px;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
}

.about-george p{
  font-family: 'Montserrat', sans-serif;
  justify-content: center;
}

.read-more{
  margin-top: 30px;
  justify-content: center;
  width: 35%;
  height: 45px;
  text-align: center;
  color: black;
  font-size: 22px;
  background: #CACB65;
  border: none;
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
}
  
.read-more:hover{
  justify-content: center;
  width: 35%;
  height: 45px;
  text-align: center;
  color: black;
  font-size: 22px;
  background: #CACB65;
  border-radius: 20px;
  margin-left: 200px;
  margin-right: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.current-offerings{
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
  font-size: 30px;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
}

.wine-info h3{
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  font-size: 24px;
  padding: 20px;
}

.wine-info p{
  font-family: 'Montserrat', sans-serif;
  padding: 40px;
}

.wine-info{
  padding: 20px;
}

.more-btn{
  width: 35%;
  height: 45px;
  text-align: center;
  color: black;
  font-size: 22px;
  background: #FFFFFF;
  border: 2px solid #CACB65;
  box-sizing: border-box;
  border-radius: 20px;
  margin-left: 200px;
  margin-right: 200px;
  font-family: 'Montserrat', sans-serif;
}

.more-btn:hover{
  width: 35%;
  height: 45px;
  text-align: center;
  color: black;
  font-size: 22px;
  background: #FFFFFF;
  border: 2px solid #CACB65;
  box-sizing: border-box;
  border-radius: 20px;
  margin-left: 200px;
  margin-right: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.footer-main-row{
  padding: 40px;
}

#back2Top {
  width: 60px;
  line-height: 60px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: fixed;
  bottom: 50px;
  right: 30px;
  background-color: 255, 255, 255, 0.25;
  color: #CACB65;
  text-align: center;
  font-size: 60px;
  text-decoration: none;
  box-shadow: inset -1px 1px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
  border-radius: 10px;
}
#back2Top:hover {
  background-color: 255, 255, 255, 0.50;
  color: #000;
}

footer {
  font-family: 'Montserrat', sans-serif;
  background-color: #510D08;
  color: white;
}


html { scroll-behavior: smooth; }